body{
    background-color: steelblue;
    border: 2px solid black;
    
}

section{
    border: 1px solid white;
    margin: 8px;
}

/* template 6x6 grid container */
.section-container{
    display: grid;
    margin: 4px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.item{
    border: 2px solid red;
    column-span: 1;
    max-width: 100%;
    max-height: 100%;
    align-content: center;
    margin: 4px;
}

img{
    max-width: inherit;
    max-height: inherit;
}

/* NAVBAR SECTION */
#navbar-grid{
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto;
}
.navbar-link{
    grid-column: auto;
}


/* INTRODUCTION SECTION */
/* 3x3 grid */
#intro-grid{
    grid-template-rows: 1fr 1fr 1fr;
}

#intro-heading{
    grid-column: 1 / span 4;
    grid-row: 1;  
}
#intro-img{
    grid-column: 5 /span 6;
    grid-row: 1 / span 6;
}

#intro-p{
    grid-column: 1 / span 4;
    grid-row: 2 / span 3;
}

/*  TRIVIA SECTION */
#trivia-grid{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

#trivia-heading{
    grid-column: 1 / span 6;
}

/* subgrid for each of the cards */
#trivia-card-grid{
    /* define how it operates in it's parent grid first */
    grid-column: auto;
    /*then define it's own grid */
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

#trivia-card-heading{
    
}