body{
    background-color: steelblue;
    border: 2px solid black;
    
}

section{
    border: 1px solid white;
    margin: 8px;
}

/* template 6x6 grid container */
.section-container{
    display: grid;
    margin: 4px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.item{
    border: 2px solid red;
    grid-column: 1;
    max-width: 100%;
    max-height: 100%;
    align-content: center;
    margin: 4px;
}

img{
    max-width: inherit;
    max-height: inherit;
}

/* HEADER SECTION */
#header-grid{
    grid-template-rows: 1fr;
}
#header-grid>header{
    grid-column: 1 /span 6;
}
h1{
    text-align: center;
    font-size: 52px;
}
h2{
    text-align: center;
    font-size: 38px;
}
h3{
    font-size: 32px;
}


/* NAVBAR SECTION */
#navbar-section{
    position: sticky;
    top:0;
    overflow: hidden;
    background-color: black;
    color: white;
}
#navbar-grid{
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: 1fr 1fr 1fr;
}
.navbar-link{
    font-size: 42px;
    grid-column: auto;
    grid-row: 1 / span 3;
}


/* INTRODUCTION SECTION */
/* 3x3 grid */
#intro-grid{
    grid-template-rows: 1fr 1fr 1fr;
}

#intro-heading{
    grid-column: 1 / span 4;
    grid-row: 1;  
    font-size: 40px;
}
#intro-img{
    grid-column: 5 /span 6;
    grid-row: 1 / span 6;
}

#intro-p{
    grid-column: 1 / span 4;
    grid-row: 2 / span 3;
}

/*  TRIVIA SECTION */
#trivia-grid{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 2fr;
}

#trivia-heading{
    grid-column: 1 / span 3;
    grid-row: 1;
}

/* subgrid for each of the cards */
#trivia-card-grid{
    /* define how it operates in its parent grid first */
    display: grid;
    grid-column: auto;
    /*then define it's own grid */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.25fr 1fr;
    border-color:aqua;
}

#trivia-card-heading{
    grid-column: 1 /span 3;
    grid-row: 1;
}

#trivia-card-p{
    grid-column: 1;
    grid-row: 2;
}

#trivia-card-img{
    grid-column:2;
    grid-row: 2 / span 3;
}

/* CATEGORIES SECTION */
#categories-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

}
#categories-heading{
    grid-column: 1 /span 4;
    grid-row: 1;
    
}

.categories-card{
    grid-column: auto;
    grid-row: 2 /span 6;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.471);
    background-blend-mode: darken;

}
.categories-card>h3{
    border: 2px solid black;
    text-align: center;
    font-size: xx-large;
    color:  white;
    max-height: inherit;
    border: none;    
}


#category-1{
    background-image: url("/images/gwd.png");
}
#category-2{
    background-image: url("/images/tob.png");
}
#category-3{
    background-image: url("/images/wt.png");
}
#category-4{
    background-image: url("/images/fish.png");
}


/* TOP SCORES SECTION*/
#scores-grid{
    grid-template-columns: auto;
}

table{
    grid-row: 2 /span 6;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
}

th{
    border: 2px solid rgb(255, 255, 0);
    font-size:26px;
}

td{
    border: 2px solid white;
}

#table-rank{
    min-width: 5%;
}
#table-name{
    min-width: 4fr;
}
