@font-face{
    font-family: runescape;
    src: url("/fonts/runescape.ttf") format('truetype');
}
@font-face {
    font-family: runescape-bold;
    src: url("/fonts/runescape_bold.ttf");
}
@font-face {
    font-family: runescape-small;
    src: url("/fonts/runescape_small.ttf");
}

/* BOOTSTRAP OVERRIDES */

h1, h2, h3, h4{
    font-family: runescape-bold;
    color: yellow;
}
.nav-item:hover{
    transform: scale(1.05);
    transition: transform 0.2s ease;
    color: yellow !important;
}
.nav-item:hover>a{
    color: yellow !important;
}

tbody>tr:hover>*{
    background-color: black !important;
    color: white;
    font-weight: bold;
}


/*Custom Styles*/

body{
    background-color: #39697e;
    background: linear-gradient(117deg,rgba(164, 215, 237, 1) 8%, rgba(101, 170, 199, 1) 26%, rgba(90, 139, 166, 1) 37%, rgba(85, 137, 163, 1) 47%, rgba(66, 131, 158, 1) 54%, rgba(87, 151, 179, 1) 65%, rgba(127, 192, 219, 1) 76%, rgba(129, 194, 222, 1) 90%);

}

#header{
    background: #39697E;
    background: radial-gradient(circle,rgba(57, 105, 126, 1) 0%, rgba(0, 21, 33, 1) 100%);
}

/* Navbar */

#navbarNav{
    font-family: runescape-bold;
}


/* Infinite Carousel */
.trivia-carousel-wrapper {
    overflow: hidden;
    width: 100%;
    max-width: 100%;

}

.trivia-carousel {
    display: flex;
    animation: scroll 30s linear infinite;
    width: max-content;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: black;
    
}

.trivia-card {
    flex: 0 0 calc(33.333% - 1rem);
    width: calc(100vw / 3 - 2rem);
    max-width: 400px;
    padding: 1em;
    
}
.card-body>h3{
    text-align: center;
}
.card-body{
    
}

.card:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

#trivia-card-1:hover{
    box-shadow: 0px 0px 5px 6px rgb(174, 0, 255) !important;
}
#trivia-card-2:hover{
    box-shadow: 0px 0px 5px 6px rgb(255, 0, 0) !important;
}
#trivia-card-3:hover{
    box-shadow: 0px 0px 5px 6px rgb(255, 227, 70) !important;
}
#trivia-card-4:hover{
    box-shadow: 0px 0px 5px 6px rgb(0, 119, 255) !important;
}
#trivia-card-5:hover{
    box-shadow: 0px 0px 5px 6px rgb(0, 175, 23) !important;
}
#trivia-card-6:hover{
    box-shadow: 0px 0px 5px 6px rgb(255, 153, 0) !important;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* Pause animation on hover */
.trivia-carousel-wrapper:hover .trivia-carousel {
    animation-play-state: paused;
}

/* Categories Section */
.category-card{
    aspect-ratio: 4/3;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.575);
    background-blend-mode: darken;
}
.category-card:hover{
    background-color: rgba(0, 0, 0, 0.048);
    cursor: pointer;
}
.category-card:hover .category-heading{
    font-size: 200%;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.836);
    
    
}

.category-heading{
    color: rgb(255, 255, 255);
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.555);
    padding: 4%;
    background-blend-mode: darken;
    transition-property: font-size;
    transition-duration: 0.2s;
    transition-delay: 0;
    
}



#category-card-1{
    background-image: url("/images/royal.png");
}
#category-card-2{
    background-image: url("/images/tob.png");
}
#category-card-3{
    background-image: url("/images/fish.png");
}
#category-card-4{
    background-image: url("/images/wt.png");
}

/* Top Scores Section */

.scores-thead{
    background-color: black !important;
    color: yellow !important;
}

/* Subscribe Section */
.subscribe-heading{
    font-family: runescape-bold;
    font-size: 250%;
    
}
.subscribe-button{
    font-size: x-large;
    border: none;
}
.subscribe-button:hover{
    transform: scale(1.05);
    transition: transform 0.2s ease;
}

#subscribe-card-bronze:hover{
    box-shadow: 0px 0px 5px 6px #804e3a  !important;
}
#subscribe-card-rune:hover{
    box-shadow: 0px 0px 6px 6px #56acd1  !important;
}
#subscribe-card-gilded:hover{
    box-shadow: 0px 0px 5px 6px #ffc82f  !important;
}

#bronze-button{
    background-color: #42291f;
    background: linear-gradient(117deg,rgba(150, 130, 126, 1) 10%, rgba(97, 81, 72, 1) 25%, rgba(99, 70, 53, 1) 36%, rgba(84, 56, 40, 1) 50%, rgba(77, 57, 44, 1) 63%, rgba(82, 68, 60, 1) 76%, rgba(87, 68, 61, 1) 93%);
    color: white;
}
#rune-button{
    background-color: #39697e;
    background: linear-gradient(117deg,rgba(164, 215, 237, 1) 8%, rgba(101, 170, 199, 1) 26%, rgba(90, 139, 166, 1) 37%, rgba(85, 137, 163, 1) 47%, rgba(66, 131, 158, 1) 54%, rgba(87, 151, 179, 1) 65%, rgba(127, 192, 219, 1) 76%, rgba(129, 194, 222, 1) 90%);
    color: white;
}
#gilded-button{
    background: #ffe6b0;
    background: linear-gradient(120deg,rgba(255, 230, 176, 1) 6%, rgba(237, 182, 62, 1) 15%, rgba(212, 144, 8, 1) 26%, rgba(209, 145, 17, 1) 32%, rgba(255, 190, 59, 1) 39%, rgba(255, 224, 161, 1) 49%, rgba(255, 190, 59, 1) 57%, rgba(227, 155, 11, 1) 65%, rgba(206, 146, 21, 1) 72%, rgba(237, 182, 62, 1) 81%, rgba(255, 241, 204, 1) 95%);
}

/* subscribe image helper to limit size on tablets */
.subscribe-img{
    max-height: 140px;
    width: auto;
}

/* Contact Us Section */

#contact-button{
    font-family: runescape-bold;
    background-color: #56acd1;
    border: none;
}

#contact-button:hover{
    transform: scale(1.02);
    transition: transform 0.1s ease;
    color: white;
    background-color: #366d86;
}